/* STYLE RESET (inspired by https://piccalil.li/blog/a-modern-css-reset/) */
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* SITE-WIDE STYLING: ELEMENT BEHAVIOR */
  
  /* Add global border-box */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Set site-wide smooth scrolling */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.1;
  }
  
  /* Images fill container */
  img,
  picture {
    width: 100%;
    display: block;
  }

  /* Root Vars */
  :root {
    --background-color: #23252c;
    --l1-color: #f5f5f5;
    --l2-color: #ddd;
    --button-color: rgba(255,255,255,0.87);
    --button-background: #115293;
    --app-max-width: 400px;
    --h1-font: "Montserrat", Helvetica, sans-serif;
    --h1-color: rgba(0,0,0,0.87);
    --p-font: "Fira Sans", Arial, sans-serif;
    --p-color: rgba(0,0,0,0.6);
    
    /* Based on https://css-tricks.com/snippets/css/fluid-typography/ */

    --p-size: calc(9px + (26 - 9) * ((100vw - 300px) / (576 - 300)));
    --h1-size: calc(1.5 * var(--p-size));
    --h2-size: calc(1.25 * var(--p-size));
  }

  /* Dark Mode Div Styling */
  .darkMode {
    --h1-color: rgba(255,255,255,0.87);
    --p-color: rgba(255,255,255,0.6);
    --l1-color: #121212;
    --l2-color: black;
    --button-color: rgba(255,255,255,0.87);
    --button-background: #1769aa;
  }


  /* Tag Styling */

  h1,
  h2,
  h3 {
    color: var(--h1-color);
    font-family: var(--h1-font);
  }

  h1 {
    font-size: var(--h1-size);
    text-align: center;
  }

  h2,
  h3 {
    font-size: var(--h2-size);
    padding-top: 0.5rem;
  }

  p,
  a {
    color: var(--p-color);
    font-family: var(--p-font);
    font-size: var(--p-size);
    text-decoration: none;
  }

  i {
    display: inline;
    font-size: var(--h1-size);
    vertical-align: sub;
    color: inherit;
  }



  /* Element Styling */

  .App {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: 3fr 7fr;
    justify-items: center;
    align-items: center;
    gap: 2vh;
    padding: 6vw;
  }

  .ImageContainer, 
  .InfoContainer {
    height: 100%;
    max-width: var(--app-max-width);
    border-radius: 8px;
  }

  .ImageContainer {
    width: 60%;
    overflow: hidden;
    transition: filter 400ms linear;
  }

  .Headshot {
    object-fit: cover;
  }

  .InfoContainer {
    width: 100%;
    padding: 2vh 5vw;
    background-color: var(--l1-color);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .InfoHead {
    text-align: center;
    width: 100%;
    transition: filter 400ms linear;
  }

  .InfoBody {
    padding-top: 1rem;
    transition: filter 400ms linear;
  }

  .InfoFooter {
    position: relative;
    margin-top: auto;
    padding-top: 0.25rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8vw;
  }
  
  .InfoHead_position {
    font-size: var(--p-size);
    color: #f57c00;
    font-weight: 600;
  }

  .InfoHead_link > p {
    padding-top: 0.5rem;
  }

  .ButtonWrapper {
    padding-top: 0.5rem;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 2vw;
  }

  .ButtonWrapper > a {
    margin: 0 auto;
    width: 100%;
    border-radius: 4px;
    padding: 0.25rem 0;
    color: var(--button-color);
    background-color: var(--button-background);
  }

  .ButtonWrapper > a > p {
    display: inline;
    padding-left: 8px;
    color: var(--button-color);
  }

  .ButtonVCF {
    grid-column: 1 / -1;
  }

  .ButtonFooter {
    cursor: pointer;
    color: var(--p-color);
  }

  .SettingsMenu {
    opacity: 100%;
    position: absolute;
    visibility: visible;
    bottom: 100%;
    left: 0;
    background-color: var(--l2-color);
    width: 100%;
    border-radius: 8px;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    transition: opacity 400ms ease-in-out,
      visibility 400ms ease-in-out;
  }

  .SettingsControls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .SettingsText {
    font-size: var(--h2-size);
  }

  .switch {
    position: relative;
    display: inline-block;
    width: calc(3.6 * var(--p-size));
    height: calc(2 * var(--p-size));
    margin: calc(0.75 * var(--p-size));
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 40%;
    border-radius: calc(2*var(--p-size));
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: calc(1.6 * var(--p-size));
    width: calc(1.6 * var(--p-size));
    left: 0;
    bottom: -150%;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.3);
  }
  
  input:checked + .slider:before,
  input:checked + .slider {
    background-color: #1769aa;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--accentColor);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(calc(2 * var(--p-size)));
    -ms-transform: translateX(calc(2 * var(--p-size)));
    -moz-transform: translateX(calc(2 * var(--p-size)));
    transform: translateX(calc(2 * var(--p-size)));
  }


  /* isSettingsOpen Styling */
  .blurred {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }

  .hidden {
    opacity: 0%;
    visibility: hidden;
    transition: opacity 400ms ease-in-out,
      visibility 400ms ease-in-out;
  }

  /* Accessibility */

  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  @media screen and (min-width: 601px) {
    :root {
      --p-size: calc (8px + (16 - 8) * ((100vw - 601px) / (991 - 601)));
      --app-max-width: 900px;
    }

    i {
      vertical-align: baseline;
    }

    .App {
      display: grid;
      grid-template: 1fr / 1fr 3fr;
      padding: 6vh;
    }

    .ImageContainer {
      height: 60%;
      width: 100%;
    }

    .InfoContainer {
      height: 100%;
      width: 100%;
      padding: 4vh 2vw;
    }

    .InfoBody {
      padding-top: 0.25rem;
    }

    .ButtonWrapper {
      grid-template: 1fr / 1fr 1fr 1fr;
    }

    .ButtonVCF {
      grid-column: inherit;
    }

    .ButtonFooter {
      font-size: calc(5 * var(--p-size));
    }

    i {
      font-size: calc(1.75 * var(--p-size));
    }
  }